.grid-container {
  height: 100%;
  margin: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 0.3fr 1.4fr 1.3fr;
  grid-template-areas: 'header header' 'orders customers' 'catalog customers';
}

.customers {
  grid-area: customers;
}

.orders {
  grid-area: orders;
}

.catalog {
  grid-area: catalog;
}

.header {
  grid-area: header;
}
