

<div class="grid-container">
  <div class="header">
    <h1>NgRx Auto-Entity - Simplifying Reactive State!</h1>
    <p>Welcome to the NgRx Auto-Entity demo site.</p>
  </div>
  <div class="customers">
    <mat-card>
      <mat-card-title>Customers</mat-card-title>
      <mat-card-content>
        <app-top-customers></app-top-customers>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/customers">MANAGE</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="orders">
    <mat-card>
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        <app-orders-preview #ordersPreview></app-orders-preview>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <a mat-button routerLink="/orders">MANAGE</a>
        <div>
          <button mat-button (click)="showPending()">PENDING</button>
          <button mat-button (click)="showCurrent()">CURRENT</button>
          <button mat-button (click)="showArchived()">ARCHIVED</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="products">
    <mat-card>
      <mat-card-title>Product Catalog</mat-card-title>
      <mat-card-content>
        <app-recent-products></app-recent-products>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/products">MANAGE</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
