<a routerLink="/feature">Load Feature</a>

<div class="d-flex justify-content-around">
  <div>
    <h1>Customers</h1>

    <app-customer-table
      [customers]="customers.all()"
      (view)="customers.selectByKey($event); accounts.loadManyIfNecessary({ customerId: $event })"
    ></app-customer-table>
  </div>
  <div>
    @if (customers.current(); as customer) {
    <div>
      <h1>Customer</h1>

      <app-edit-customer></app-edit-customer>
    </div>
    <div>
      <h2>Accounts</h2>

      <app-account-table [accounts]="accounts.currentForCurrentCustomer()"></app-account-table>
    </div>
    } @else {
    <p>No Customer is selected</p>
    }
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
