version: 2

jobs:
  build:
    working_directory: ~/ngrx-auto-entity
    docker:
      - image: circleci/node:10.9-browsers
    steps:
      - checkout
      - run: NODE_ENV=ci npm install
      - run: npm run build:ci
      - run: npm run lint
      - run:
          command: npm run test:ci
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
