@import '../../../../styles/variables';

// Will be deprecated, but can't think of any other way of doing this at the moment
.order-f {
  &__hint {
    color: $mat-label-color;
  }
  &__product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__product-suffix {
    font-size: 12px;
    color: $mat-label-color;
    transform: translate(0, -0.35em);
    margin-left: 5px;
  }
}

::ng-deep .order-f__products-menu {
  max-width: 350px !important;
}
