.product-input {
  width: 100%;
}

.very-short-product-input {
  width: 22%;
  margin-right: 3%;
}

.short-product-input {
  width: 47%;
  margin-right: 3%;
}

.end-short-product-input {
  width: 50%;
}
