@use '~@angular/material' as mat;

.filter-input {
  width: 100%;
}

mat-row:hover {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 200);
  cursor: pointer;
}

.mat-column-actions {
  flex: 0 0 40px;
}

a.dark-link {
  color: black;
  &:visited {
    color: dimgrey;
  }
}

.green-chip {
  background-color: #78cd00;
  color: white;
}

.red-chip {
  background-color: #ff3726;
  color: white;
}
