<mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <!-- ID -->
  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Order # </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
  </ng-container>

  <!-- Customer -->
  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.customer}} </mat-cell>
  </ng-container>

  <!-- Date of order -->
  <ng-container matColumnDef="dateOfOrder">
    <mat-header-cell *matHeaderCellDef> Date of Order </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.dateOfOrder}} </mat-cell>
  </ng-container>

  <!-- Number of items -->
  <ng-container matColumnDef="numberOfItems">
    <mat-header-cell *matHeaderCellDef> Number of items </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.numberOfItems}} </mat-cell>
  </ng-container>

  <!-- Total -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.total}} </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.status }} </mat-cell>
  </ng-container>

  <!-- User actions -->
  <ng-container matColumnDef="userActions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let order">
      <button mat-button (click)="handleEditClick(order)">Edit</button>
    </mat-cell>
  </ng-container>

  <!-- Normal/Hidden row definition -->
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let order; columns: columnsToDisplay"></mat-row>
</mat-table>
