<div fxLayout="column" fxLayoutAlign="start stretch" class="products">
  <h2>Products</h2>
  <div class="actions" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
    <a mat-stroked-button (click)="bulkDelete()" [disabled]="!selectedProducts?.length">Bulk Delete</a>
    <a mat-stroked-button routerLink="add" color="primary">Add Product</a>
  </div>
  <app-products-table
    [products]="products$ | async"
    [selectedProducts]="selectedProducts"
    (select)="onSelect($event)"
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
  ></app-products-table>
</div>
