@use '~@angular/material' as mat;

.filter-input {
  width: 100%;
}

mat-row:hover, mat-row.selected {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 200);
  cursor: pointer;
}

.mat-column-id {
  flex: 0 0 4vw;
}

.mat-column-actions {
  flex: 0 0 40px;
}
