<mat-sidenav-container class="container" fxFlex>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [(opened)]="opened">
    <nav>
      <mat-list>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <span>Home</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/customers" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <span>Customers</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <span>Products</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/orders" routerLinkActive="active" (click)="isMobile && sidenav.close()">
          <span>Orders</span>
        </a>
        <mat-divider></mat-divider>
      </mat-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon style="transform:scaleX(-1)">{{ sidenav.opened ? 'keyboard_tab' : 'menu' }}</mat-icon>
        </button>
        <span class="header-title" (click)="handleTitleClick()">{{title}}</span>
      </div>
      <div>
        <button mat-flat-button (click)="handleCreateOrder()">Create order</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
