/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import './styles/theming';
@import './styles/reset';
@import './styles/variables';

/** Colors **/
// Foreground
.color-primary {
  color: mat.get-color-from-palette($app-primary);
}
.color-accent {
  color: mat.get-color-from-palette($app-accent);
}

/** Text Formatting **/
.align-right {
  text-align: right;
}

/** Interactable stuff **/
.default-clickable {
  color: white;
  &:hover {
    @extend .color-accent;
    cursor: pointer;
  }
}

/** Random stuff? **/
.separator {
  width: 100%;
  margin: 0;
}

/** NG Material **/
// mat-form-field
.mat-form-field {
  &--xs {
    .mat-form-field-infix {
      width: 45px;
    }
  }
  &--centered {
    .mat-form-field-infix {
      text-align: center;
    }
  }
}
