@import '~@angular/material/theming';

.filter-input {
  width: 100%;
}

mat-row:hover {
  background-color: mat-color($mat-grey, 200);
  cursor: pointer;
}

.mat-column-id {
  flex: 0 0 4vw;
}

.mat-column-actions {
  flex: 0 0 40px;
}

/*completed*/
.green-chip {
  background-color: #78cd00;
  color: #3e3e3e;
}
/*pending*/
.yellow-chip {
  background-color: #ffe775;
  color: #3e3e3e;
}
/*archived*/
.grey-chip {
  background-color: #757575;
  color: #3e3e3e;
}
/*open*/
.teal-chip {
  background-color: #38ffd8;
  color: #3e3e3e;
}
