<div fxLayout="row" fxLayoutAlign="center stretch" class="products">
  <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" fxFlex.lg="65%" fxFlex.xl="60%">
    <h2>Product</h2>
    <app-product-form [product]="product | async" (productChange)="onProductChange($event)"></app-product-form>
    <div class="actions" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="secondary" routerLink="/products">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!valid">Save</button>
    </div>
  </div>
</div>
